.vscode/**
node_modules/**
src/**
test/**
tools/**
out/**/*.map
s7
third-party/**
.build/**
examples/**
!examples/vscode-ui.scm
**/*.ts
tsconfig.json
ARCHITECTURE.md
ROADMAP.md
.gitignore
.gitattributes
.github/**
